.card {
  width: 250px;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #313340;
  padding: 20px;
  border-radius: 10px;
}

.user {
  position: relative;
}

.img_wrapper {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  overflow: hidden;
}
.img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
}

.avatar_left {
  left: 56%;
}
.actions div svg {
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s all;
  filter: opacity(80%);
}
.actions div svg:hover {
  filter: opacity(100%);
  filter: brightness(1.5);
}
.actions div {
  margin-bottom: 7px;
}
.button {
  display: flex;
  position: absolute;
  left: 37%;
  bottom: -10%;
}
.button div {
  filter: opacity(80%);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.3s all;
}
.button div:hover {
  filter: opacity(100%);
}
.success {
  margin-right: 20px;
  border: 2px solid #e5e5e5;
  background: rgba(79, 177, 1, 0.89);
}
.failing {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  background: #d30303;
}
.failing svg {
  width: 50px;
  height: 30px;
}
.success svg {
  width: 50px;
  height: 40px;
}
