.wrapper {
  width: 82%;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #313340;
  justify-content: space-around;
  margin: 65px auto 0 auto;

}
