.header{
  background: rgb(0, 0, 0);
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.headerImg{
  width: 35%;
  height: 100%;  
}

.headerImg img{
  min-height: 100%;
  width: 100%;
}
.block{
  height: 100px;
  background-color: red;
  width: 1000px;
}
.back{
  background-color: black;
  /* height: 100vh; */
}



.linkReg span{
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;

}

