.header{
  background: rgb(0, 0, 0);
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.headerImg{
  width: 35%;
  height: 100%;  
}

.headerImg img{
  min-height: 100%;
  width: 100%;
}
.back{
  background-color: black;
  /* height: 100vh; */
}



.linkReg span{
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #E5E5E5;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}


.logo{
  width: 20%;
  height: 100%;
  background-color: red;
}
.row{
  margin-bottom: 3%;
}
