* {
  margin: 0;
  padding: 0;
}
.wrapperApp {
  display: flex;
}

/* Нетрогать!!!!!!!!!!!!!!!!!! */
.red_bg {
  background-color: #af5555;
}
.green_bg {
  background-color: #578153;
}
.blue_bg {
  background-color: #3d5bc7;
}
.yellow_bg {
  background-color: #eeba42;
  color: rgba(34, 37, 48, 1);
}
/* Нетрогать!!!!!!!!!!!!!!!!!! */
