.modal {
  border-radius: 30px;
  padding: 30px 50px;
  background-color: #313340;
}
.modalRegistration {
  border-radius: 30px;
  padding: 20px 50px;
  background-color: #313340;
}
.modalColor {
  background-color: rgb(123, 123, 123);
}

.modal-content {
  border-radius: 30px;
}

.title h2 {
  color: whitesmoke;
  text-align: center;
}
.title h2 {
  font-weight: bold;
  margin-bottom: 5%;
}
.body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body form input {
  font-size: 16px;
  line-height: 24px;
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-radius: 3px;
  border: 1px solid rgb(136, 132, 132);
  margin-bottom: 5%;
  color: black;
}
.body form button {
  margin: 5px auto 5% auto;
}
.bottomSettng {
  display: flex;
  justify-content: space-between;
}
/* .bottomSettng input{
  margin: 0;
  padding: 0;
} */

.rememberPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  cursor: pointer;
  min-height: 0 !important;
  padding: 0 !important;
}
.link,
.footer p,
.forgotPassword p {
  line-height: none;
  cursor: pointer;
  color: blue;
  user-select: none;
  margin-bottom: 0;
}
.link:hover,
.footer p:hover,
.forgotPassword p:hover {
  color: rgb(48, 48, 240);
}
.footer {
  width: 100%;
  text-align: center;
}

.footer p {
  color: whitesmoke;
}

.footer p:hover {
  text-shadow: 0 0 10px goldenrod;
  color: whitesmoke;
  transition: 0.5s;
}

.body button {
  background-color: #313340;
  border: 1px solid whitesmoke;
  font-weight: 700;
}

.body button:hover {
  background-color: goldenrod;
  color: #313340;
  transition: 0.5s;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 10px goldenrod;
}
