
.chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #667792;
  border-radius: 8px;
  height: 80%;
  width: 19%;
  }

.chatsLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
}
